<!DOCTYPE html>
<html>
  <head>
    <title>Prototype.com</title>
    <link rel="stylesheet" type="text/css" href="../public/css/style.css">
  </head>

  <body>
    <h1> MovieRec </h1>
    <h3 id="search">
      Search
    </h3>

    <h4 id="search_field">
      <form action="/" method="post">
        <label for="title">Title:</label>
          <input type="text" name="title"><br><br>
        <label for="date">Release Year:</label>
          <input type="text" name="date"><br><br>
          <input type="submit">
        </form>
    </h4><br><br><br>
    
    <h2 class="end">
      Top Box Office
    </h2><br><br><br>
    <h2 class="end">
      Critically Aclaimed
    </h2><br><br><br>
    <h2 class="end">
      Oscar Best Picture Nominees
    </h2>
    
  </body>
  
</html>