<!DOCTYPE html>
<html>
  <head>
    <title>Prototype.com</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">">lear
    
  </head>

  <body id="look_up">
    
    <h4 id="search_field">
      <form action="/" method="post">
        <label for="title">Title:</label>
          <input type="text" name="title"><br><br>
        <label for="date">Release Year:</label>
          <input type="text" name="date"><br><br>
        <label for="vote">Vote Average (1-10):</label>
          <input type="text" name="vote"><br><br>
          <input type="submit">
        </form>
    </h4><br><br><br>
    <p>results courtesy of The Movie DB.org</p>
  </body>
  
</html>